body {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation: expand 0.3s linear forwards;
}
.wrapper {
    position: absolute;
    width:90%;
    height: 1550px;
    max-width: 100%;
    max-height: 110%;

}
.text {
    margin-top: 50px;
    height: 1550px;

}
p {
    display: flex;
    font-size: 100px;
    justify-content: center;
    margin-top: 500px;
}
@keyframes expand { 
	0% { -webkit-transform:  scale(1,1); transform:  scale(1,1);  opacity:0; }
	25% { -webkit-transform:  scale(1,1); transform:  scale(1,1); }
	50% { -webkit-transform:  scale(1,1); transform:  scale(1,1); }
	75% { -webkit-transform:  scale(1,1); transform:  scale(1,1); }
	100% { -webkit-transform:  scale(1,1); transform:  scale(1,1);  opacity:1; }
}
