body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
.beforeCheck {
    display: flex;
    justify-content: center;
    align-items: center;
            >button {
                border: 1px solid rgb(147, 168, 255);
                border-radius: 50px;
                background-color: rgb(56, 56, 255);
                color: #ffffff; 
                font-family:Arial;
                margin: 15% 1rem 2rem 1rem;
                width: 900px;
                height: 1200px;
                font-size: 150px;
            }
            > div {
              font-weight: 1000;
            }
}
.icon {
  font-size: 300px;
}
/* 모달 창 css */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: expand 0.3s linear forwards;
  }
  .modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modalBox {
    position: absolute;
    background-color: #fff;
    width: 40rem;
    height: 30rem;
    margin-top: -500px;
    padding: 15px;
    border: 5px solid rgba(47, 100, 247, 0.86);
    border-radius: 50px;

  }
  .modalBox p {
    float: auto;
    text-align: center;
    margin: 130px 30px 30px 30px;
    font-size: xx-large;
    font-weight: 1000;
  }
  .hidden {
    display: none;
  }
  .fade {
    animation: fadeout 0.2s linear forwards;
  }
  
  @keyframes expand { 
	0% { -webkit-transform:  scale(1,1); transform:  scale(1,1);  opacity:0; }
	25% { -webkit-transform:  scale(1,1); transform:  scale(1,1); }
	50% { -webkit-transform:  scale(1,1); transform:  scale(1,1); }
	75% { -webkit-transform:  scale(1,1); transform:  scale(1,1); }
	100% { -webkit-transform:  scale(1,1); transform:  scale(1,1);  opacity:1; }
}
@keyframes fadeout {
    /* 효과를 동작시간 동안 0 ~ 1까지 */
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  

/* 체크박스 애니메이션 */
/* Made by Jimmy Gillam */
.bg {
  padding: 0;
  margin: 0;
  background-color: #667788;
  color: #efefef;
  font-family: "Open Sans";
}

.container {
  border: 2px #34b93d ;
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
  > label {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100px;
    
  }
}
.container h2 {
  margin-top: 100px;
  font-size: 70px;
  font-weight: 1000;
}

/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
input[type=checkbox] {
  display: none;
}

.check-box {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.check-box::before, .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 20px;
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5;
}
.check-box::before {
  top: 72px;
  left: 41px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.check-box::after {
  top: 37px;
  left: 5px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #34b93d;
}
input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 50px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: 120px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
