body {
    overflow: hidden;
}
.main {
    justify-content: center;
}
.logo{
    margin: 30px 50px 20px 30px;
    height: 80px;
    display: block;
    >img {
        width: 150px;
        position: absolute;
        right: 80px;
    }
    >span {
        font-size: 40px;
        text-align: center;
        align-items: center;
        display: inline-flex;
        margin: 20px 0 0 10px;
    }
} 
#greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 1% 70px 30px;
    width: 100%;
    height: 500px;
    color:rgb(18, 1, 51);
    border: 2px solid black;
    font-size: 50px;
    font-weight: bold;
    position: relative;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-around;
    align-items: stretch;
}
.container .item {
    display: block;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 0 30px 20px 10% ;
        > button {
            display: flex;
            flex-direction: column;
        }
        
}
.btn {  /* 일반 안내에 들어가는 btn style */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
    width: 410px;
    font-size: 60px;
    border-radius: 50px;
    margin-top: -30px; 
}
.icon {
    font-size: 90px;
}
.adv {
    align-items: center;
    text-align: center;
    border: 2px solid black;
    margin: 0 30px 20px 30px;
    width: 100% ;
    height: 550px;
    overflow: hidden;
}
.adv img {
    width: 100%;
    height: 600px;
}