body {
    overflow: hidden;
    font-weight: 1000;
    width: 100%;
}
.main {
    justify-content: center;
    width: 98%;
}
.logo{
    margin: 30px 50px 20px 30px;
    height: 80px;
    display: block;
    >img {
        width: 150px;
        position: absolute;
        right: 60px;
    }
    >span {
        font-size: 40px;
        text-align: center;
        align-items: center;
        display: inline-flex;
        margin: 20px 0 0 10px;
    }
} 
#greeting {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 70px 30px;
    width: auto;
    max-width: 100%;
    height: 500px;
    color:rgb(18, 1, 51);
    border: 2px solid black;
    border-radius: 20px;
    font-size: 60px;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
    >img {
        position: absolute;
        left: 25%;
        width: 500px;
        z-index: 0;
        opacity: 10%;
    }

}
.flow-text {
    margin-top: 10%;
    white-space: nowrap; /* Prevent line breaks */
    position: relative; /* Required for animation */
    animation: flowAnimation 10s linear infinite; /* Apply animation */
    z-index: 4;
    > h3{
        font-size: 85px;
        margin-bottom: 20px;
    }
}

@keyframes flowAnimation {
    0% {
        left: 100%; /* Start from right edge */
    }
    100% {
        left: -140%; /* Move to left edge */
    }
}.container {
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: 95%;
    justify-content: center;
    align-items: center;
}
.container .item {
    justify-content: center;
    display: block;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 0 30px 20px 30px;
        > button {
            display: flex;
            flex-direction: column;
        }
        
}
.btn {  /* 일반 안내에 들어가는 btn style */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
    width: 410px;
    font-size: 60px;
    border-radius: 50px;
    margin-top: -30px; 
}
.icon {
    font-size: 150px;
}
.adv {
    align-items: center;
    text-align: center;
    border: 2px solid black;
    margin: 0 30px 20px 30px;
    width: 95% ;
    height: 550px;
    overflow: hidden;
    justify-content: center;
}
.adv img {
    width: 100%;
    height: 600px;
}
