
html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 0;
    overflow: hidden;
    animation: expand 0.5s linear forwards;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
    background-image: url('./pics/mapBG.jpg');
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body::before{
    content:"";
    opacity:0.6;
    position:absolute;
    height: inherit;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgb(255, 255, 255);
    z-index: -5;
}
hr {
    margin-bottom: 0;
    height: 2px;
    width: 100%;
    background-color: black;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0px;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
}

.logo {
    font-weight: 1000;

    margin: 30px 50px 20px 30px;
    height: 80px;
    display: block;

    >img {
        width: 150px;
        position: absolute;
        right: 60px;
    }

    >span {
        font-size: 40px;
        position: absolute;
        left: 40px;
        display: inline-flex;
        margin: 20px 0 0 10px;
    }
}

.addr {
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    >h2 {
        margin: 0 20px 20px 0;
        font-size: 35px;
    }
    >span {
        font-size: xx-large;
    }
}
#map {
    position: relative;
    width: 80%;
    height: 600px;
    border: 9px solid rgb(40, 105, 255);
    border-radius: 10px;
}
.titleFloor {
    margin-top: 50px;
    float: left;
}
.floorInfo {
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    >span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: x-large;
        margin-top: 15px;
    }
}
.BFR {
    display: flex;
    flex-direction: column;
    >p {
        margin: 0 0 0 0;
    }
}
.floor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 60px;
    height: 60px;
    background-color: rgb(81, 81, 82);
    border: white;
    border-radius: 7px;
    color: white;
    font-size: xx-large;
}
.btns {
    margin-top: 110px;
    >button{
        margin-right: 15px;
        margin-left: 15px;
        border: 1px white solid;
        border-radius: 15px;
        background-color: rgb(0, 0, 254);
        color: white;
        font-size: x-large;
        width: 200px;
        height: 70px;
    }
}
@keyframes expand {
    0% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 0;
    }
    25% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    75% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 1;
    }
  }
    