body {
  font-size: 14px;
  background: #f2f2f2;
  height: 100rem;
}
.logo {
  margin: 30px 30px 0 30px;
  height: 60px;
  display: block;
  > img {
    width: 150px;
    position: absolute;
    right: 60px;
  }
  > span {
    font-size: 40px;
    display: inline-block;
    margin: 20px 0 0 30px;
    width: 500px;
  }
}

span {
  font-size: 30px;
  font-weight: bold;
  width: 1rem;
  margin-right: 100px;
}
#numspan {
  margin: 0;
  font-weight: bold;
}
#idNum {
  text-align: center;
}
.schedule {
  margin-top: 5rem;
}
.form_wrapper {
  background: #fff;
  width: 90%;
  height: 95%;
  max-height: 100%;
  max-width: 100%;
  padding: 15px;
  margin: 3% auto 0;
  border: 5px solid rgba(47, 100, 247, 0.86);
  border-radius: 20px;
  animation: expand 0.5s linear forwards;
}
label {
  display: inline-block;
  font-size: 30px;
  width: 12rem;
  padding-left: 2rem;
}
.row {
  margin: 10px -15px;
  > div {
    padding: 0 15px;
    box-sizing: border-box;
  }
}
.col_half {
  width: 50%;
}
.input_field {
  position: relative;
  margin-bottom: 20px;
}
input {
  height: 50px;
  border-radius: 10px;
  font-size: x-large;
  width: 10rem;
}

h2 {
  justify-content: center;
  color: black;
  text-align: center;
  font-size: 40px;
  line-height: 150px;
  margin: 0;
}
body
  > div
  > div
  > div.row.clearfix
  > div
  > form
  > div.input_field.checkbox_option {
  bottom: 50px;
  position: absolute;
}
.checkbox_option {
  display: inline-block;
  right: 30px;
  margin-bottom: 10rem;
  display: flex;
}
.buttons {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-top: 100px;
}
button {
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 6rem;
  font-size: large;
  margin: 30px 15px 30px 15px;
}
.btn {
  font-size: x-large;
}

/* 모달 창 css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: expand 0.4s linear forwards;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 40rem;
  height: 30rem;
  padding: 15px;
  border: 5px solid rgba(47, 100, 247, 0.86);
  border-radius: 50px;
  > p {
    float: auto;
    text-align: center;
    margin: 130px 30px 30px 30px;
    font-size: xx-large;
  }
  > button /*.closeBtn*/ {
    position: absolute;
    left: 200px;
    right: 200px;
    width: 120px;
    margin: 0 50px 0 50px;
    background-color: #1152f8;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: xx-large;
  }
}

.hidden {
  display: none;
}

@keyframes expand {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .form_wrapper {
    .col_half {
      width: 100%;
      float: none;
    }
  }
  .bottom_row {
    .col_half {
      width: 50%;
      float: left;
    }
  }
  .form_container {
    .row {
      .col_half.last {
        border-left: none;
      }
    }
  }
}
